{% extends 'base.html' %}

{% block content %}

<div class="container py-5">

    <div class="row justify-content-center">

        <div class="col-lg-5">

            <div class="card shadow-lg border-0 rounded-4">

                <div class="card-body p-4">

                    <h2 class="text-center mb-4">
                        Create Account
                    </h2>

                    <form method="POST">

                        {% csrf_token %}
                        {% if form.errors %}
                        <div class="alert alert-danger">
                            {{ form.errors }}
                        </div>
                            {% endif %}
                        <div class="mb-3">
                            <label>First Name</label>
                            {{ form.first_name }}
                        </div>

                        <div class="mb-3">
                            <label>Username</label>
                            {{ form.username }}
                        </div>

                        <div class="mb-3">
                            <label>Email</label>
                            {{ form.email }}
                        </div>

                        <div class="mb-3">
                            <label>Password</label>
                            {{ form.password1 }}
                        </div>

                        <div class="mb-3">
                            <label>Confirm Password</label>
                            {{ form.password2 }}
                        </div>

                        <button class="btn btn-success w-100">
                            Register
                        </button>

                    </form>

                    <div class="text-center mt-3">
                        Already have an account?
                        <a href="{% url 'login' %}">
                            Login
                        </a>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}