{% extends 'base.html' %}

{% block content %}

<div class="container py-5">

    <div class="row justify-content-center">

        <div class="col-lg-7">

            <div class="card shadow border-0 rounded-4 text-center p-5">


                <!-- Success Icon -->
                <div class="mb-4">

                    <div class="success-icon mx-auto">
                        <i class="fa-solid fa-check"></i>
                    </div>

                </div>


                <h1 class="fw-bold" style="color:#7c3aed;">
                    Order Placed Successfully!
                </h1>


                <p class="text-muted fs-5 mt-3">

                    Thank you for shopping with 
                    <strong>SmartMart</strong>.

                    Your order has been confirmed.

                </p>



                <!-- Order Details -->
                <div class="order-box mt-4">

                    <h5 class="fw-bold">
                        Order Details
                    </h5>


                    <p class="mb-1">

                        Order ID:

                        <strong>
                            #{{ request.session.order_id }}
                        </strong>

                    </p>


                    <p class="mb-0">

                        Status:

                        <span class="badge"
                        style="
                        background:linear-gradient(135deg,#ff4d9d,#7c3aed);
                        color:white;
                        ">
                            Confirmed
                        </span>

                    </p>

                </div>



                <!-- Buttons -->
                <div class="mt-4">

                    <a href="{% url 'my_orders' %}"
                    class="btn px-4 me-2"
                    style="
                    background:linear-gradient(135deg,#ff4d9d,#7c3aed);
                    color:white;
                    border:none;
                    ">

                        View My Orders

                    </a>



                    <a href="{% url 'home' %}"
                    class="btn px-4"
                    style="
                    background:#7C3AED;
                    color:white;
                    border:none;
                    ">

                        Continue Shopping

                    </a>

                </div>


            </div>

        </div>

    </div>

</div>



{% endblock %}