{% load static %}
<link rel="stylesheet" href="{% static 'adminpanel/css/admin_common.css' %}">
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Fashion Hub Admin</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

    <link rel="stylesheet"
          href="{% static 'adminpanel/css/dashboard.css' %}">

</head>

<body>

<div class="dashboard">

    <!-- Sidebar -->
    <aside class="sidebar">

        <h2 class="logo">
            <i class="fa-solid fa-store"></i>
            Fashion Hub
        </h2>

        <p class="title">MAIN</p>

        <a href="{% url 'dashboard' %}">
            <i class="fa-solid fa-gauge"></i>
            Dashboard
        </a>

        <p class="title">MANAGE</p>

        <a href="{% url 'admin_products' %}">
            <i class="fa-solid fa-box"></i>
            Products
        </a>

        <a href="{% url 'admin_categories' %}">
            <i class="fa-solid fa-layer-group"></i>
            Categories
        </a>

        <a href="{% url 'admin_brands' %}">
            <i class="fa-solid fa-tags"></i>
            Brands
        </a>

        <a href="{% url 'admin_orders' %}">
            <i class="fa-solid fa-cart-shopping"></i>
            Orders
        </a>

        <a href="{% url 'admin_customers' %}">
            <i class="fa-solid fa-users"></i>
            Customers
        </a>

        <a href="{% url 'admin_banners' %}">
            <i class="fa-solid fa-image"></i>
            Banners
        </a>

        <a href="#">
            <i class="fa-solid fa-chart-line"></i>
            Reports
        </a>

        <p class="title">ACCOUNT</p>

        <a href="#">
            <i class="fa-solid fa-user"></i>
            Profile
        </a>

        <a href="{% url 'admin_logout' %}" class="sidebar-link">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span>Logout</span>
        </a>

    </aside>

    <!-- Main Content -->
    <main class="main-content">

        <!-- Topbar -->
        <div class="topbar">

            <div class="ms-auto d-flex align-items-center">

                <div class="admin text-end">

                    <strong>{{ request.user.username }}</strong>

                </div>

            </div>

        </div>

        <!-- Page Content -->
        {% block admin_content %}

        <div class="welcome">

            <h2>Welcome Back 👋</h2>
            <p>Fashion Hub  Administration Panel</p>

        </div>

        <div class="row g-4">

            <div class="col-lg-3">

                <div class="card dashboard-card">

                    <div class="card-body">

                        <h6>Total Products</h6>
                        <h2>{{ total_products }}</h2>

                    </div>

                </div>

            </div>

            <div class="col-lg-3">

                <div class="card dashboard-card">

                    <div class="card-body">

                        <h6>Total Categories</h6>
                        <h2>{{ total_categories }}</h2>

                    </div>

                </div>

            </div>

            <div class="col-lg-3">

                <div class="card dashboard-card">

                    <div class="card-body">

                        <h6>Total Customers</h6>
                        <h2>{{ total_customers }}</h2>

                    </div>

                </div>

            </div>

            <div class="col-lg-3">

                <div class="card dashboard-card">

                    <div class="card-body">

                        <h6>Cart Items</h6>
                        <h2>{{ total_cart }}</h2>

                    </div>

                </div>

            </div>

        </div>

        {% endblock %}

    </main>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>