{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Fashion Hub Admin Login</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

</head>

<body style="background:#f5f6fa;">

<div class="container">

    <div class="row justify-content-center align-items-center vh-100">

        <div class="col-lg-4">

            <div class="card shadow border-0 rounded-4">

                <div class="card-body p-5">

                    <div class="text-center mb-4">

                        <h2 class="fw-bold text-success">
                            Fashion Hub
                        </h2>

                        <p class="text-muted">
                            Admin Login
                        </p>

                    </div>

                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <form method="POST">

                        {% csrf_token %}

                        <div class="mb-3">

                            <label class="form-label">
                                Username
                            </label>

                            <input type="text"
                                   name="username"
                                   class="form-control"
                                   placeholder="Enter Username"
                                   required>

                        </div>

                        <div class="mb-4">

                            <label class="form-label">
                                Password
                            </label>

                            <input type="password"
                                   name="password"
                                   class="form-control"
                                   placeholder="Enter Password"
                                   required>

                        </div>

                        <button type="submit"
                                class="btn w-100 text-white fw-bold"
                                style="background:linear-gradient(90deg,#6f42c1,#ff4fa3); border:none;">

                            <i class="fa-solid fa-right-to-bracket"></i>

                            Login

                        </button>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

</body>

</html>